<section class="container">
    <div class="container-buttons">
        <div class="logo-1">
            <i class="fas fa-headphones"></i>
        </div>
        <div class="logo-1">
            <i class="fas fa-backward"></i>
        </div>
        <div class="logo-1">
            <i class="far fa-play-circle"></i>
        </div>
        <div class="logo-1">
            <i class="fas fa-forward"></i>
        </div>
        <div class="logo-1">
            <i class="far fa-heart"></i>
        </div>
    </div>
    <div class="container-image">
        <img src="../../../../assets/Lastfm_logo.png" alt="">
    </div>
    <div class="container-nav">
        <ul class="container-list">
            <li>
                <p>Inicio</p>
            </li>
            <li>
                <p>En vivo</p>
            </li>
            <li>
                <p>Música</p>
            </li>
            <li>
                <p>Listas</p>
            </li>
            <li>
                <p>Eventos</p>
            </li>
            <li>
                <p>Sesiones</p>
            </li>
        </ul>
    </div>
</section>