<section class="container">
    <div class="container-footer">
        <div class="container-footer-top">
            <div class="item-first">
                <div class="list">
                    <h3>Empresa</h3>
                    <ul>
                        <li>Acerca de Last.Fm</li>
                        <li>Contacto</li>
                        <li>Empleo</li>
                    </ul>
                </div>
                <div class="list">
                    <h3>Ayuda</h3>
                    <ul>
                        <li>Sigue mi musica</li>
                        <li>Ayuda la comunidad</li>
                        <li>Directrices de la comunidad</li>
                        <li>Ayuda</li>
                    </ul>
                </div>
                <div class="list">
                    <h3>Desarga y extras</h3>
                    <ul>
                        <li>Descarga Scrobble</li>
                        <li>Api de desarrollo</li>
                        <li>Descarga gratuitas de música</li>
                        <li>Articulos de promoción</li>
                    </ul>
                </div>
                <div class="list">
                    <h3>Cuenta</h3>
                    <ul>
                        <li>Buzón de entrada</li>
                        <li>Configuración</li>
                        <li>Last.Fm Pro</li>
                        <li>Salir</li>
                    </ul>
                </div>
                <div class="list">
                    <h3>Siguenos</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>YouTube</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <div class="container-middle">
                <div>
                    <div class="letter">
                        <p>English</p>
                        <p>Deutch</p>
                        <p>Español</p>
                        <p>Frances</p>
                        <p>Italiano</p>
                        <p>polski</p>
                        <p>Portugues</p>
                        <p>Turke</p>
                    </div>
                    <div>
                        <p>Zona Horaria: <strong>America/Bogota</strong></p>
                    </div>
                </div>
                <div class="logo">
                    <img src="../../../../assets/dowload.png" alt="">
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="bottom-container">
               <p> Cuentanos tu opinion del sitio</p>
            </div>
        </div>
    </div>
</section>