<section>
    <div class="container">
        <div class="container-card" *ngFor="let artist of (info | async)">
            <div class="img">
                <figure class="post-img">
                    <img width="300px" height="250px" src="https://lastfm.freetls.fastly.net/i/u/300x300/b4ab6a08af0b33456abd13b76a0dedb0.webp" alt="">
                </figure>
                <div class="img-comment">
                    <p class="title">{{artist.name}}</p>
                    <p class="artist">artist</p>
                </div>
            </div>
            <div class="comment">
                esto esta de moda hoy
            </div>
        </div>
    </div>
</section>