<section>
    <div class="container">
        <div class="container-card" *ngFor="let artist of (info | async)">
            <div class="img">
                <figure class="post-img">
                    <img src={{artist.image[3].text}} alt="">
                </figure>
                <div class="img-comment">
                    <p class="title">{{artist.name}}</p>
                    <p class="artist">artist</p>
                </div>
            </div>
            <div class="comment">
                esto esta de moda hoy
            </div>
        </div>
    </div>
</section>